{% extends "templates.html" %}

{% block title %}
    Account
{% endblock %}

{% block main %}
    <h1 class = "headtext" style = "font-size:300%; text-align: center; font-family: trebuchet ms, sans-serif; font-weight: bold;">Account</h1>
    <div class="section">
        <table class="table table-sm table-dark">
            <thead style = "text-align: center;">
                <tr>
                    <th> Status of bet </th>
                    <th> Match</th>
                    <th> Your bet</th>
                    <th> Amount</th>
                    <th> Odds </th>
                    <th> Time (GMT) </th>
                    <th> Money </th>
                </tr>
            </thead>
            <tbody style = "text-align: center;">
                {% for i in range(length)|reverse %}
                    <tr>
                        {% if results[i] == "Bet Won" %}
                            <td style = "font-weight:bold;">
                                {{ results[i] }}
                            </td>
                        {% else %}
                            <td>
                                {{ results[i] }}
                            </td>
                        {% endif %}
                        <td>
                        {% for key in display[i][0] %}
                            {% if key != "hlogo" and key != "alogo" %}
                                {{ display[i][0][key] }} &nbsp;
                            {% else %}
                                <img src={{display[i][0][key]}} width="55" height="40"> &nbsp;
                            {% endif %}
                        {% endfor %}
                        </td>
                        <td> {{ display[i][0][details[i][0]] }} </td>
                        <td> ${{ details[i][1] }} </td>
                        <td> {{ details[i][2] }} </td>
                        <td> {{ details[i][3] }} </td>
                        {% if results[i] == "Bet Won" %}
                            <td> +${{ details[i][1] * details[i][2] }} </td>
                        {% else %}
                            <td> -${{ details[i][1] }} </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr style = "color: yellow">
                    <td  colspan = "7" style ="text-align: right; color: white;"> Your balance: ${{ balance }} &nbsp;</td>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}