{% extends "templates.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <h1 class = "textbox" style = "font-family: trebuchet ms, sans-serif; font-size:370%;
    -ms-transform: translate(-50%, -300%); transform: translate(-50%, -300%)">Change Password</h1>
    <form action="/changepassword" method="post" class = "form">
        <div class="mb-3">
            <div class="input-group input-group-lg">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="old" name="old" placeholder="Old Password" type="password">
            </div>
        </div>
        <div class="mb-3">
            <div class="input-group input-group-lg">
                <input autocomplete="off" class="form-control mx-auto w-auto" id="new" name="new" placeholder="New Password" type="password">
            </div>
        </div>
        <div class="mb-3">
            <div class="input-group input-group-lg">
                <input autocomplete="off" class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm new password" type="password">
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-dark btn-lg" type="submit">Change Password</button>
        </div>
    </form>
{% endblock %}
