{% extends "templates.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}


    <style>
    .parallax {
    /* The image used */
    background-image: url("https://digitalhub.fifa.com/transform/11efbf28-c08e-4a13-958f-78685fbb8a80/Qatar-2022-s-32-teams-graphic");

    /* Set a specific height */
    min-height: 1000px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    </style>

    <!-- Container element -->
    <div class="parallax">
        <p style = "text-align: center;  position: relative;position: absolute;top: 50%;
        left: 50%;-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);
        font-size: 125px;font-family: Tahoma , monospace; font-weight: bold;background-color: #F9F6EE;
       opacity: 0.75;color: black;">
        WELCOME
        <a href="/la_liga">
            <img src="https://assets.laliga.com/assets/logos/laliga-h/laliga-h-1200x1200.png" width="100" height="100" class="d-inline-block align-top" alt="">
        </a>
        <a href="/ligue_one">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Ligue1.svg/1200px-Ligue1.svg.png"  width="76" height="100" class="d-inline-block align-top" alt="">
        </a>

        <a href="/bundesliga">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/df/Bundesliga_logo_%282017%29.svg/1200px-Bundesliga_logo_%282017%29.svg.png"   width="100" height="100" class="d-inline-block align-top" alt="">
        </a>

        <a href="/premierleague">
            <img src="https://download.logo.wine/logo/Premier_League/Premier_League-Logo.wine.png"  width="150" height="100" class="d-inline-block align-top" alt="">
        </a>

        <a href="/serie_a">
            <img src="https://www.fifplay.com/img/public/serie-a-logo-transparent.png" width="89" height="100" class="d-inline-block align-top" alt="">
        </a>
        </p>

    </div>

    <div class="parallax">

        <p style = "text-align: center;  position: relative;position: absolute;top: 150%;
        left: 50%;-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);
        font-size: 50px;font-family: Tahoma , monospace; font-weight: bold;background-color: #F9F6EE;
       opacity: 0.9;color: black;"> WORLD CUP 2022

        <a href="/wcstandings">
            <img src="https://e0.365dm.com/22/10/2048x1152/skysports-world-cup-qatar-2022_5921764.jpg"  width="1000" height="550" class="bg" alt="">
        </a>

        </p>



    </div>



{% endblock %}