{% extends "templates.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}


    <!-- Container element -->
    <div class="parallax">

        <p class = "textbox" style = "font-size: 125px; -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);">
            WELCOME
            <a href="/premierleague">
                <img src="https://download.logo.wine/logo/Premier_League/Premier_League-Logo.wine.png"  width="20%" height="40%" class="d-inline-block align-top" alt="">
            </a>

            <a href="/bundesliga">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/df/Bundesliga_logo_%282017%29.svg/1200px-Bundesliga_logo_%282017%29.svg.png" width="15%" height="15%" class="d-inline-block align-top" alt="">
            </a>

            <a href="/la_liga">
                <img src="https://assets.laliga.com/assets/logos/laliga-h/laliga-h-1200x1200.png" width="15%" height="15%" class="d-inline-block align-top" alt="">
            </a>

            <a href="/serie_a">
                <img src="https://www.fifplay.com/img/public/serie-a-logo-transparent.png" width="12%" height="15%" class="d-inline-block align-top" alt="">
            </a>

            <a href="/ligue_one">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Ligue1.svg/1200px-Ligue1.svg.png"  width="10%" height="15%" class="d-inline-block align-top" alt="">
            </a>
        </p>

    </div>


    <div class="parallax">

        <p class = "wctextbox"> WORLD CUP 2022

        <a href="/wcstandings">
            <img src="https://e0.365dm.com/22/10/2048x1152/skysports-world-cup-qatar-2022_5921764.jpg"  width="1000" height="550" class="bg" alt="">
        </a>

        </p>



    </div>



{% endblock %}


