{% extends "templates.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}


    <style>
    .parallax {
    /* The image used */
    background-image: url("https://digitalhub.fifa.com/transform/11efbf28-c08e-4a13-958f-78685fbb8a80/Qatar-2022-s-32-teams-graphic");

    /* Set a specific height */
    min-height: 1000px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    </style>

    <!-- Container element -->
    <div class="parallax"></div>

{% endblock %}